html,body,div,nav,h1,.aboutme,.button-grid,.contact-box,.contact-section, body,.flex,.lecolumn,.nava, .banner ,.banna{

    margin: 0%;
    padding: 0%;
    border: 0ch;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;

}
