body,.top-container,.navigation,.about,.wrapper,.box,.a,.b,.c,.d,.contact
{
    margin: 0%;
    padding: 0%;
    border: 0ch;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;

}
