body{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'Lora', serif;
}
html{
  scroll-behavior: smooth;
}
.name-brand h1{
  font-family: 'Alegreya';
  font-weight: normal;


}

li{
  list-style-type: none;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #333537;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
   }
   .navbar{
     display: flex;
     justify-content: space-around;
     width: 25%;
     margin-top: 22px;
   }
.navbar a{
   text-decoration: none;
    color: #fff;
    letter-spacing: 2.8px;
}
.burger{
  display: none;
}
.burger div{
 width: 25px;
 height: 3px;
 margin: 5px;
 background-color: #fff;
}
 


.about{
    display: block;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    height: 20vh;
    width: 75%;
    padding-bottom: 15px;
    border: 0em;
}
.about h2{
    text-align: center;
    border-bottom: solid 2px black;
}

.wrapper {
    display: grid;
    grid-template-columns: 55% 40%;
    grid-template-rows: 650px 650px;
    grid-gap: 3em;
    border: 2vh 2vw solid black ;
    color: #444;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 15px;
    
  }

  .box {
    background-color: #444;
    color:black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    border: 2px solid black;
    }

    
.img-a{
  background-image: url("../images/movie.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  .a:hover{
    opacity: 80%;
    cursor: pointer;
  }
 
  .img-b{
    background-image: url('../images/workdayscreenshot.png');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .b:hover{
    opacity: 80%;
    cursor: pointer;
  }
   
  .img-c{
    background-image: url('../images/home.PNG');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .c:hover{
    opacity: 80%;
    cursor: pointer;
  }
  /* .d {
    grid-column: 1.5;
    grid-row: 2;
    background-image: url(../images/GitHub.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */
  .d:hover{
    opacity: 80%;
    cursor: pointer;
  }
  .img-d{
    background-image: url(../images/GitHub.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   background: #333537;
    height: 22vh;
    width: 100%;
    color: #fff;
    padding-top: auto;
    margin-top: 45px;
    
}
.contact h6{
    width: 15%;
    font-size: 20px;
    font-weight: lighter;
    
}
.contact a{
    justify-content: flex-end;
    border-left: solid 2px black;
    padding-left: 35px;
    color: #fff;
}

@media screen and (max-width: 1730px) {
  .navbar{
    width:35%;
  }
  
}
@media screen and (max-width:1530px) {
  .navbar{
    width: 40%;
  }
}

@media screen and (max-width:1050px){
    body{
      overflow-x: hidden;
    }
    
    .navbar{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 4vh;
      background-color: #333537;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      
    }
    .navbar li{
      opacity: 0;
    }
    .nav-active{
      transform: translateX(0%);
    }
    .burger{
      display: block;
      cursor: pointer;
    }
    .about{
      padding: auto;
      margin-bottom: 10px;
    }

    .wrapper{
      flex-wrap: wrap;
      grid-template-columns: 75%;
      grid-template-rows: 200px 200px 200px 200px;
      align-self: center;
      padding-top: 50px;
      padding-left: 12.5%;
      padding-right: 12.5%;
      
    }

    .contact{
      padding: auto;
      margin-top: 45px;
    }
}

@media screen and (max-width:800px){
  .about{
    height: auto;
  }
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact h6 {
  font-size: x-large;
  width: auto;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    margin: auto;
    border-bottom: solid 2px black;
}
.contact a {
    margin-bottom: 15px;
    margin:0 0 15px 2px;
    margin-bottom: auto;
    border-style: none;
}
}
@keyframes navBarFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}