html,body,div,nav,h1,.aboutme,.button-grid,.button-item,.contact-box,.contact-section{

    margin: 0%;
    padding: 0%;
    border: 0ch;
    font-size: 100%;
    font-weight: inherit;
    vertical-align: baseline;

}
